.theOrderPage{
    background-color: #eee;
    width: 92%;
    margin-left: 8%;
    padding-bottom: 40px;
}
.theOrderPage h1{
    margin-bottom: 50px;
}
.myOrder{
    width: 70%;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.267);
    background-color: rgba(0, 128, 0, 0.804);
}
.orderDetail{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 50px;
}
.orderDetail h3{
    font-size: 3rem;
    font-weight: lighter;
}
.order-product-name{
    margin-top: 200px;
}
.myOrder p{
    text-align: center;
    background-color: rgba(255, 255, 0, 0.84);
}
.thisOrder{
    display: grid;
    grid-template-columns: 50% 50%;
    /* margin: 0 500px; */
    position: relative;
}
.order-img-box{
    width: 50%;
    margin: 50px auto;
    
}
.order-img-box img{
    width: 100%;
}
.fromCart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.OrderRecieved{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    height: 70px;
    border-radius: 50px;
    background-color: rgba(0, 128, 0, 0.642);
    color: white;
}